{% extends 'base.html' %}

{% block title %}{{ user.username }} details{% endblock %}

{% block content %}
<div class="details">
  <h1><span class="name">{{ user.username }}</span> profile</h1>
  <div class="locked">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alerts hide">
      {% for message in messages %}
      <span class="flash">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <p><b>First Name: </b>{{ user.first_name }}</p>
    <p><b>Last Name: </b>{{ user.last_name }}</p>
    <p><b>Email: </b>{{ user.email }}</p>
  </div>
  <div>
    <h3>Feedback</h3>
    <ul class="feedback-list">
    {% if user.feedback %}
      {% for feedback in user.feedback %}
      <li>
        <a href="/feedback/{{ feedback.id }}/update">{{ feedback.title }}</a>
      </li>
      {% endfor %}
      {% else %}
      <li class="error">No feedback has been added yet.</li>
      {% endif %}
    </ul>
    </div>
    <form method="post" action="/users/{{ user.username }}/delete">
      <div class="btn-row between">
        <div class="col">
          <span>Account</span>
          <button type="submit" class="delete">Delete</button>
        </div>
        <div class="col">
          <span>Feedback</span>
          <button formmethod="get" class="edit" formaction="/users/{{ user.username }}/feedback/add" formnovalidate>Add</button>
        </div>
      </div>
    </form>
</div>
{% endblock %}