{% extends 'base.html' %}

{% block title %}{{ user.username }} details{% endblock %}

{% block content %}
<div class="details">
  <h1><span class="name">{{ user.username }}</span> profile</h1>
  <div class="locked">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alerts hide">
      {% for message in messages %}
      <span class="flash">{{ message }}</span>
      {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <p><b>First Name: </b>{{ user.first_name }}</p>
    <p><b>Last Name: </b>{{ user.last_name }}</p>
    <p><b>Email: </b>{{ user.email }}</p>
  </div>
  <h3>Feedback</h3>
  <div>
  {% if user.feedback %}
  <ul class="feedback-list">
    {% for feedback in user.feedback %}
    <li>
      <a href="/feedback/{{ feedback.id }}/update">{{ feedback.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h3>No feedback has been added yet.</h3>
  {% endif %}
  </div>
  <form method="post" action="/users/{{ user.username }}/delete">
    <div class="btn-row spaced">
      <button type="submit" class="delete">Delete</button>
      <button class="edit" formmethod="get" formaction="/users/{{ user.username }}/feedback/add" formnovalidate>Add Feedback</button>
    </div>
  </form>
</div>
{% endblock %}