{% extends 'base.html'  %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>
<h3>Enter your credentials</h3>

<form class="form-data" method="post">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden'%}
  <div class="row">
    <div class="col f-1">
      {{field.label}}
    </div>
    <div class="col f-3">
      {% for err in field.errors %}
      <small class="error">{{ err }}</small>
      {% endfor %}
      {{field}}
    </div>
  </div>
  {% endfor %}
  <div class="btn-row right">
    <button type="submit" class="save">Login</button>
  </div>
</form>
<br>
<br>
<span>Don't have an account? Register <a href="/register">here</a></span>
{% endblock %}