{% extends 'base.html'  %}

{% block title %}Login{% endblock %}

{% block content %}

<h1>Login</h1>
<p>Login Below. Don't have an account? <a href="/register">Register here</a></p>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alerts hide">
  {% for message in messages %}
  <span class="flash">{{ message }}</span>
  {% endfor %}
</div>

<form class="form-data" method="post">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden'%}
  <div class="row">
    {{field.label}}
    {{field}}
    {% for err in field.errors %}
    <small class="error">{{ err }}</small>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="btn-row end">
    <button type="submit" class="add">Login</button>
  </div>
</form>
{% endblock %}