{% extends 'base.html'  %}

{% block title %}Register{% endblock %}

{% block content %}

<h1>Sign Up</h1>
<h3>Register below to use our application!</h3>

<form class="form-data" method="post">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden'%}
  <div class="row">
    {{field.label}}
    <div class="col">
      {% for err in field.errors %}
      <small class="error">{{ err }}</small>
      {% endfor %}
      {{field}}
    </div>
  </div>
  {% endfor %}
  <br>
  <div class="btn-row right">
    <button type="submit" class="save">Register</button>
  </div>
</form>
{% endblock %}