{% extends 'base.html' %}

{% block title %}Create a post{% endblock %}

{% block content %}
<h1>Add post for {{ user.full_name }}</h1>
<form class="editor">
  <div class="row">
    <label for="title" class="text-label">Title</label>
    <input type="text" class="input-row" name="title" required />
  </div>
  <div class="row">
    <label for="content" class="text-label">Content</label>
    <textarea name="content" required></textarea>
  </div>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alerts hide">
    {% for message in messages %}
    <span class="flash">{{ message }}</span>
    {% endfor %}
  </div>
  {% endif %}
  {% endwith %}
  {% if tags %}
  <div class="tag-container">
    {% for tag in tags %}
    <div class="tag-row">
      <input type="checkbox" name="tags" id="tag-{{ tag.id }}" value="{{ tag.id }}"/>
      <label for name="{{ tag.id }}">{{ tag.name }}</label>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  <div class="btn-row end">
    <button formaction="/tags/new" class="add" formnovalidate>Add tag</button>
    <button formaction="/users/{{ user.id }}" class="cancel" formnovalidate>Cancel</button>
    <button formaction="/users/{{ user.id }}/posts/new" type="submit" class="save" formmethod="post">Add</button>
  </div>
</form>
{% endblock %}
