{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Blogly Recent Posts</h1>
{% if posts %} {% for post in posts %}
<h2>{{ post.title }}</h2>
<p>{{ post.content }}</p>
<small><i>By {{ post.users.full_name }} on {{ post.humanize_date }}</i></small>
{% if post.tags %}
<div class="tag-row">
  <span
    ><b>Tags:</b>
    {% for tag in post.tags %}
    <a href="/tags/{{ tag.id }}"><i class="tag">{{ tag.name }}</i></a>
    {% endfor %}
  </span>
</div>
{% endif %} {% endfor %} {% else %}
<h2>No posts have been made yet!</h2>
{% endif %} {% endblock%}
