{% extends 'base.html' %}

{% block title %}Create a pet{% endblock %}

{% block content %}
<h1>Create a pet</h1>
<form class="editor">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden'%}
  <div class="row">
    {{field.label}}
    {{field}}
    {% for err in field.errors %}
    <small class="error">
      {{ err }}
    </small>
    {% endfor %}
  </div>
  {% endfor %}
  <div class="btn-row end">
    <button type="submit" class="add">Save</button>
  </div>
</form>
{% endblock %}
