{% extends 'base.html' %}

{% block title %}Pets{% endblock %}

{% block content %}
<h1>Pets</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alerts hide">
  {% for message in messages %}
  <span class="flash">{{ message }}</span>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<a href="/add"><button class="add">Add a Pet</button></a>
<div class="pcontainer">
  {% if pets %}
  {% for pet in pets %}
  <div class="pwrapper">
    <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="avatar-lg">
    <div>
      <span class="pname"><a href="/pets/{{ pet.id }}">{{ pet.name }}</a></span>
      {% if pet.available %}
      <span><b> is avaliable!</b></span>
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% else %}
  <h2>No pets have been added yet!</h2>
  {% endif %}
</div>
{% endblock %}
