@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: auto;
  background-color: rgb(83, 180, 95);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
