@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
  font-family: 'Work Sana', sans-serif;
  transition: all 0.6s;
}

body {
  margin: 50px;
  background-color: rgb(225, 218, 218);
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.pcontainer {
  display: flex;
  justify-content: baseline;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 30px;
}

.pwrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.avatar-lg {
  width: 80vh;
  padding: 5px;
  border: 1px solid rgba(28, 164, 112, .7);
}

.pname {
  color: rgb(28, 164, 112);
}

/* form */
.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  gap: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

label {
  flex: 1;
  font-size: 1em;
  font-weight: 500;
}

input,
textarea {
  flex: 2;
  padding: 8px;
  height: 7em;
  width: 30em;
  font-size: 0.9em;
  padding-left: 8px;
  border-radius: 4px;
  border: solid rgb(65, 101, 218) 1px;
  color: rgb(46, 45, 45);
}

input {
  height: 1em;
}

/* buttons */

button {
  width: 80px;
  height: 35px;
  font-size: 0.9em;
  border-radius: 4px;
}

.btn-row {
  display: flex;
  width: 100%;
  gap: 5px;
}

.end {
  justify-content: flex-end;
}

.center {
  justify-content: space-evenly;
}

.add,
.save {
  background-color: rgb(28, 164, 112);
  border: solid white 1px;
  color: white;
}

.cancel {
  background-color: white;
  border: solid rgb(28, 164, 112) 1px;
  color: rgb(28, 164, 112);
}

/* form error */
.error {
  color: rgb(203, 40, 40);
}

/* flash messages */

.flash {
  color: rgb(28, 164, 112);
}

.hide {
  animation: autoHide 5s forwards;
}

@keyframes autoHide {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}

/* 404 error */

.fof-container {
  color: #888;
  margin: 0;
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
}

.fof h1 {
  font-size: 3em;
  font-weight: 400;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #888;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}