{% extends 'base.html'  %}

{% block title %}{{ feedback.title }}{% endblock %}

{% block content %}
<h1>{{ feedback.title }}</h1>

<div class="details">
  <p>{{ feedback.content }}</p>
  {% endfor %}
  <form>
    <div class="btn-row spaced">
      <button formaction="/feedback/{{ feedback.id }}/delete" formmethod="post" class="delete">Delete</button>
      <button formaction="/feedback/{{ feedback.id }}/update" formmethod="get" class="edit">Edit</button>
    </div>
  </form>
</div>
{% endblock %}