{% extends 'base.html' %}

{% block title %}Create a tag{% endblock %}

{% block content %}
<h1>Create a tag</h1>
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alerts hide">
  {% for message in messages %}
  <span class="flash">{{ message }}</span>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
<div>
  <form class="editor">
    <div class="row">
      <label for="name" class="text-label">Name</label>
      <input type="text" class="input-row" id="name" name="name" {% if tag %}value="{{ tag.name }}"{% endif %} required/>
    </div>
    <div class="btn-row end">
      <button formaction="/tags" class="cancel" formnovalidate>Cancel</button>
      <button formaction="/tags/new" type="submit" class="save" formmethod="post">Add</button>
    </div>
  </form>
</div>
{% endblock %}
