{% extends 'base.html' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block content %}
<h1>{{ tag.name }}</h1>
<div>
  {% if tag.posts %}
  <ul>
    {% for post in tag.posts %}
    <li class="post-list">
      <a href="/posts/{{ post.id }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No posts have been tagged yet</p>
  {% endif %}
</div>
<form>
  <div class="btn-row center">
    <button formaction="/tags" class="cancel">Cancel</button>
    <button formaction="/tags/{{ tag.id }}/edit" type="submit" class="edit">Edit</button>
    <button formaction="/tags/{{ tag.id }}/delete" class="delete" formmethod="post">Delete</button>
  </div>
</form>
{% endblock %}
